<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Product</title>
    <link rel="stylesheet" href="/css/admin-overview.css">
</head>
<body>
    <%- include('layout/sidebar') %>

    <div class="content">
        <header>
            <h1>Low Stock Products</h1>
        </header>
        <section>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Stock</th>
                    </tr>
                </thead>
                <tbody>
                    <% lowStockProducts.forEach(product => { %>
                        <tr>
                            <td><%= product.name %></td>
                            <td><%= product.price %></td>
                            <td><%= product.stock %></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </section>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
<script>
    function confirmLogout() {
    swal({
        title: "Are you sure?",
        text: "You will be logged out of the admin dashboard.",
        icon: "warning",
        buttons: ["Cancel", "Yes, logout"],
        dangerMode: true,
    }).then((willLogout) => {
        if (willLogout) {
            // Redirect to the logout route
            window.location.href = "/admin/logout";
        }
    });
}

</script>
</html>
