<!doctype html>
<html lang="en">
<head>
    <%- include('layout/head') %>
</head>
<body>
    <%- include('layout/navbar') %>
    
    <div class="container mt-5">
        <h2 class="text-center">Order Confirmation</h2>
        <p class="text-center">Thank You for your purchase</p>
        <div class="text-center mt-4">
            <a href="/products" class="btn btn-primary">Continue Shopping</a>
        </div>
    </div>

    <%- include('layout/footer') %>
</body>
</html>
