<!doctype html>
<html lang="en">
<head>
    <%- include('layout/head') %>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <%- include('layout/navbar') %>

    <%- include('layout/footer') %>
    <script>
        // Display SweetAlert on page load
        document.addEventListener('DOMContentLoaded', () => {
            Swal.fire({
                title: 'Order Confirmed',
                text: 'Thank you for your purchase!',
                icon: 'success',
                confirmButtonText: 'Continue Shopping'
            }).then(() => {
                // Redirect to the products page after the user clicks "Continue Shopping"
                window.location.href = "/products";
            });
        });
    </script>
</body>
</html>
